.user-card {
    width: 300px;
}

.user-card > p {
    margin: 7px 0px 7px 0px;
}

.edit-button {
    font-size: 15px;
    font-weight: 300;
    background-color: #BBAB9D;
    color: #545454;
    width: auto;
    height: 25px;
    border-radius: 7px;
    border: none;
}