.container {
  display: flex;
  flex-direction: column;
  margin: 100px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 1000px;
}

.account-container {
  display: flex;
  flex-direction: row;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  margin: 0px 30px 0px 0px;
  align-items: center;
}

.profile-picture > img {
  object-fit: cover;
}

.profile-picture > button {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
  background-color: #FAF9F8;
  color: #545454;
  width: max-content;
  height: 25px;
  border-radius: 7.5px;
  border: none;
  cursor: pointer;
}

.account-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.account-info > div {
  background-color: #FAF9F8;
  padding: 20px 0px 20px 20px;
  font-size: 2em;
  margin: 0px;
  width: calc(100% - 30px);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.account-info > div > p {
  margin: 0px;
  font-size: 0.8em;
}

.account-info > div > button {
  font-size: 15px;
  font-weight: 300;
  background-color: #E8E2DC;
  color: #545454;
  width: auto;
  height: 25px;
  border-radius: 7.5px;
  border: none;
  cursor: pointer;

}

.upcoming-shifts {
  margin: 30px 0 0 0;
  background-color: #FAF9F8;
  padding-left: 30px;
  height: 200px;
}

