main {
  background-color: #e8e2dc;
}

.attendance-sheet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 10px 30px 30px 30px;
  background-color: #bbab9d;
  font-family: poppins;
}

table {
  width: 1500px;
  margin-left: 40px;
  table-layout: auto;
}

th {
  height: 50px;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #545454;
  font-weight: 450;
  font-family: poppins;
}

td {
  text-align: center;
  height: 40px;
  color: #545454;
  font-weight: 450;
  font-family: poppins;
  border: none;
  background-color: #faf9f8;
}

.table-button {
  background-color: #faf9f8;
  width: 40px;
  height: 40px;
  margin: 10px 0px 10px 0px;
  border: 2px solid black;
}

.table-button:hover {
  background-color: #545454;
}

#submit-button {
  font-size: 22px;
  font-weight: 300;
  background-color: #bbab9d;
  color: #545454;
  width: 125px;
  height: 50px;
  border-radius: 7.5px;
  border: none;
}

.submission {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 30px;
}

.optionButtons {
  width: 175px;
  height: 25px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  margin: 15px;
}

.submitDate {
  width: 100px;
  height: 25px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  margin: 15px;
}

.inputField {
  margin-left: 15px;
  border-radius: 10px;
  border: 10px;
  height: 25px;
  width: 200px;
  margin-top: 7.5px;
}

@media only screen and (max-width: 768px) {
  
  .attendance-sheet{
    width: 800px;
    margin: 25px 5px 25px 15px;
  }

  .submission{
    justify-content: start;
  }
}