.calendar-container {
  background-color: #bbab9d;
  height: 400pt;
  padding: 20px;
  width: auto;
  margin: 10%;
  margin-top: 10px;
}

.calendar-header {
  font-family: poppins;
  font-weight: 450;
  color: #545454;
  text-align: center;
  margin-top: 50px;
}

.modal-show {
  display: block;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: poppins;
  text-align: center;
  padding-bottom: 50px;
}

.modal-hide {
  display: none;
}

.modalTitle {
  font-weight: 450;
  color: #545454;
  font-size: 28px;
}

.modalNotes {
  margin-top: 15px;
  font-weight: 350;
  font-size: 20px;
}

.modalBody {
  margin-top: 15px;
  font-weight: 350;
  font-size: 20px;
}

.modalFooter {
  margin-top: -10px;
}

.closeModal {
  font-size: 16px;
  font-weight: 300;
  background-color: #faf9f8;
  color: #545454;
  width: 125px;
  height: 30px;
  border-radius: 50px;
  border: none;
  margin-right: 80px;
}

.modalDelete {
  font-size: 16px;
  font-weight: 300;
  background-color: #faf9f8;
  color: #545454;
  width: 125px;
  height: 30px;
  border-radius: 50px;
  border: none;
}

.modalSubmit {
  font-size: 12px;
  font-weight: 300;
  background-color: #faf9f8;
  color: #545454;
  width: 100px;
  height: 20px;
  border-radius: 50px;
  border: none;
}
